@use "theme";

:root {
  @include theme.vars;
}

:root,
.sl-theme-light {
  @include theme.light;
}

.sl-theme-dark {
  @include theme.dark;
}

body,
.apply-theme {
  @include theme.apply;
}

html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  font-family: var(--sl-font-sans);
  font-weight: var(--sl-font-weight-normal);
  font-size: var(--sl-font-size-medium);
  letter-spacing: var(--sl-letter-spacing-normal);
  line-height: var(--sl-line-height-normal);
}

body.sl-scroll-lock {
  scrollbar-gutter: auto !important;
}

.transition.t-none {
  display: none;
}

.search-gallery {
  height: 100%;
  display: flex;
  flex-direction: column;

  .grid {
    flex: 1;
    overflow-y: auto;
  }
}
