@use "theme";

:root {
  @include theme.vars;
  @include theme.light;
}

.sl-theme-light {
  @include theme.light;
  @include theme.apply-colors;
}

.sl-theme-dark {
  @include theme.dark;
  @include theme.apply-colors;
}

html {
  overflow: hidden;
}

body {
  @include theme.apply-colors;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  font-family: var(--sl-font-sans);
  font-weight: var(--sl-font-weight-normal);
  font-size: var(--sl-font-size-medium);
  letter-spacing: var(--sl-letter-spacing-normal);
  line-height: var(--sl-line-height-normal);
}

body.sl-scroll-lock {
  scrollbar-gutter: auto !important;
}

.transition.t-none {
  display: none;
}

.search-gallery {
  height: 100%;
  display: flex;
  flex-direction: column;

  .grid {
    flex: 1;
    overflow-y: auto;
  }
}
