$breakpoint: 1000px;

@mixin apply {
  color: var(--color);
  background-color: var(--background);
}

@mixin vars {
  --theme-color-primary: 87, 100, 172;

  --transition: var(--sl-transition-medium) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --slow-transition: var(--sl-transition-slow) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@mixin light {
  --color: var(--sl-color-neutral-900);
  --background: var(--sl-color-neutral-50);
}

@mixin dark {
  --color: var(--sl-color-neutral-900);
  --background: var(--sl-color-neutral-50);
}
