$breakpoint: 1000px;

@mixin apply {
  color: var(--color);
  background-color: var(--background);
}

@mixin vars {
  --theme-color-primary: 63, 81, 181;

  --transition: var(--sl-transition-medium) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  --slow-transition: var(--sl-transition-slow) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@mixin light {
  --color: var(--sl-color-neutral-900);
  --background: var(--sl-color-neutral-50);

  --input-shadow: rgba(0, 0, 0, 0.075) 0px 1px 2px 0px inset;
  --input-border: 1px solid rgb(222, 226, 230);
  --input-focus-border: 1px solid rgb(159, 168, 218);
}

@mixin dark {
  --color: var(--sl-color-neutral-900);
  --background: var(--sl-color-neutral-50);
}
