{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ">3%"
      }
    }]
  ],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
