__pycache__
/venv
/node_modules
/build
/data
/public/media
/public/app
/.vscode
/.mypy_cache
/config.ini
/test.ini
/testdata
/coverage
/.python-version
/server/coverage
/app/coverage
/.coverage
.DS_Store
*.sqlite
