@mixin base-styles {
  background: var(--background);
  color: var(--foreground);
  font: var(--font);
}

@mixin unstyled-button {
  @include base-styles;

  border: none;
  cursor: pointer;
}

@import "variables";
@import "base";
@import "form";
@import "banner";
@import "sidebar";
@import "overlay";

#app {
  @include base-styles;

  display: flex;
  flex-direction: column;
}

#sidebar-content {
  flex: 1;

  display: flex;
  flex-direction: row;
}

#content {
  @include base-styles;

  flex: 1;

  display: flex;
  flex-direction: column;
}
