@import "mixins";
@import "variables";
@import "base";
@import "icons";
@import "form";
@import "media";
@import "banner";
@import "sitetree";
@import "sidebar";
@import "overlay";

#app {
  @include base-styles;
  @include flex-column;

  width: 100vw;
  height: 100vh;
}

#main {
  @include flex-column;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#sidebar-content {
  @include flex-row;

  flex: 1;
  overflow: hidden;
}

#content {
  @include base-styles;
  @include flex-column;
  @include vertical-scroll;

  flex: 1;
}

.throbber {
  flex: 1;
  background-image: url("/static/app/images/throbber.gif");
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 32px;
  min-height: 32px;
}
