@mixin base-styles {
  background: var(--background);
  color: var(--foreground);
  font: var(--font);
}

@mixin unstyled-button {
  background: inherit;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &[disabled=true] {
    cursor: default;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

@import "variables";
@import "base";
@import "form";
@import "media";
@import "banner";
@import "catalogtree";
@import "sidebar";
@import "overlay";

#app {
  @include base-styles;
  @include flex-column;
}

#sidebar-content {
  @include flex-row;

  flex: 1;
}

#content {
  @include base-styles;
  @include flex-column;

  flex: 1;
  overflow-y: auto;
}
