#banner {
  @include base-styles;
  @include flex-row;

  align-items: center;
  justify-content: space-between;
}

#logo {
  padding: var(--padding);
  font-size: 20px;
}

#rightbanner {
  @include flex-row;

  align-items: stretch;
  height: 100%;

  button {
    @include unstyled-button;

    display: block;
    text-align: center;
    padding: var(--padding);
  }

  .button > span {
    vertical-align: center;
  }

  .button:hover {
    background: var(--active);
  }
}
