#banner {
  @include base-styles;
  @include flex-row;

  align-items: center;
  justify-content: space-between;

  height: 50px;
}

#logo {
  padding-left: 20px;
  font-size: 20px;
}

#rightbanner {
  @include flex-row;

  align-items: center;
  height: 100%;

  a {
    padding: 200px;
  }

  button {
    @include unstyled-button;

    display: block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
  }

  .button > span {
    vertical-align: center;
  }

  .button:hover {
    background: var(--active);
  }
}
