* {
  box-sizing: border-box;
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
input {
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  list-style-type: none;
  color: inherit;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.icon {
  min-width: 22px;
}
