.catalog-tree {
  button {
    @include unstyled-button;
    display: block;
  }

  ol, li, .item {
    width: 100%;
    text-align: left;
  }

  .item {
    padding: 4px var(--padding) 4px 0;
    user-select: none;
  }

  .item.selected {
    background: var(--active);
  }

  .item:hover:not(.selected), .item.dragtarget {
    background: var(--hover);
  }

  .depth0 > .item {
    padding-left: calc(1 * var(--padding));
  }

  .depth1 > .item {
    padding-left: calc(2 * var(--padding));
  }

  .depth2 > .item {
    padding-left: calc(3 * var(--padding));
  }

  .depth3 > .item {
    padding-left: calc(4 * var(--padding));
  }

  .depth4 > .item {
    padding-left: calc(5 * var(--padding));
  }

  .depth5 > .item {
    padding-left: calc(6 * var(--padding));
  }
}
