.form {
  @include base-styles;
  @include flex-column;
}

.formTitle {
  padding-bottom: 20px;
  justify-self: start;
}

.fieldGrid {
  display: grid;
  grid-template-columns: minmax(max-content, 150px) minmax(max-content, 250px);
  gap: 15px;
  align-items: center;
}

.fieldGrid .fieldLabel {
  text-align: right;
}

.formSubmit {
  flex: 1;
  justify-self: end;
  align-self: end;
}

.error .formTitle {
  color: var(--error);
}
