.fieldGrid {
  @include base-styles;

  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  align-items: center;
}

.fieldGrid .formTitle {
  padding-bottom: 15px;
  grid-column: span 2;
  justify-self: start;
}

.fieldGrid .fieldLabel {
  text-align: right;
}

.fieldGrid .spanStart {
  grid-column: span 2;
  justify-self: start;
}

.fieldGrid .spanEnd {
  grid-column: span 2;
  justify-self: end;
}

.error .formTitle {
  color: var(--error);
}
