.form {
  @include base-styles;
  @include flex-column;
}

.formTitle {
  padding-bottom: var(--padding);
  justify-self: start;
}

.fieldBox {
  position: relative;

  .field-icon {
    position: absolute;
    top: calc(var(--border-radius) + 0.15em);
    left: calc(var(--padding) / 2);
  }

  .selectfield {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("/static/app/images/angle-down-solid.svg");
    background-position: center right calc(var(--padding) / 2);
    background-repeat: no-repeat;
    background-size: 15px;
  }

  .textfield,
  .selectfield,
  .textareafield {
    border: 2px solid var(--border);
    border-radius: calc(var(--border-radius) / 2);
    padding: var(--border-radius);
    font-size: 110%;
    min-width: 20em;

    &.with-icon {
      padding-left: calc(calc(var(--padding) / 2) + 20px);
    }

    &:invalid {
      border-color: var(--error);
      box-shadow: 0 0 5px 2px var(--error);
    }

    &:focus {
      border-color: var(--active);
      box-shadow: 0 0 5px 2px var(--active);
    }
  }
}

.fieldGrid.row {
  display: grid;
  grid-template-columns: minmax(max-content, 100px) minmax(max-content, 200px);
  gap: var(--padding);
  padding-bottom: var(--padding);
  justify-content: stretch;
  align-items: stretch;

  .fieldLabel {
    @include flex-row;

    text-align: right;
    justify-content: end;
    align-items: center;
  }

  .fieldBox {
    @include flex-row;

    text-align: left;
    justify-content: start;
    align-items: center;

    &.custom {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .textfield,
  .selectfield {
    flex: 1;
  }
}

.fieldGrid.column {
  @include flex-column;

  .fieldLabel {
    padding-bottom: 5px;
    font-size: 80%;
  }

  .fieldBox {
    @include flex-row;

    align-items: start;
    padding-bottom: var(--padding);
  }
}

.formSubmit {
  flex: 1;
  justify-self: end;
  align-self: end;

  button {
    @include styled-button;
  }
}

.error .formTitle {
  color: var(--error);
}
