.media-list {
  @include base-styles;
  @include flex-row;

  flex-wrap: wrap;
  align-items: start;
  overflow-y: auto;
  overflow-x: hidden;

  .media {
    @include flex-column;

    padding: 5px;
    align-items: center;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;

    .image-canvas {
      margin-bottom: 10px;
    }

    .image-processing {
      background: url("/static/app/images/throbber.gif") center center no-repeat;
      margin-bottom: 10px;
    }

    .title {
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
