.media-list {
  @include base-styles;
  @include flex-row;

  flex: 1;
  flex-wrap: wrap;
  align-items: start;
  overflow-y: auto;
  overflow-x: hidden;

  &.empty {
    align-items: center;
    justify-content: center;
    color: black;
  }

  .media {
    @include flex-column;

    padding: 5px;
    align-items: center;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;

    .processing {
      background: url("/static/app/images/throbber.gif") center center no-repeat;
    }

    .title {
      padding-top: 10px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
