@mixin base-styles {
  background: var(--background);
  color: var(--foreground);
  font: var(--font);
}

@mixin unstyled-button {
  background: inherit;
  color: inherit;
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;

  &[disabled] {
    cursor: default;
  }
}

@mixin styled-button {
  background: var(--button-background);
  color: var(--button-foreground);
  font: inherit;
  border: none;
  border-radius: calc(var(--border-radius) / 2);
  padding: calc(var(--padding) / 2);
  margin: 0;
  cursor: pointer;
  outline: none;

  &[disabled] {
    cursor: default;
  }

  &:hover:not([disabled]) {
    background: var(--button-hover);
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

@mixin position($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin overlay {
  @include position(0, 0, 0, 0);

  position: absolute;
}
