#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay-inner {
  @include base-styles;

  border: 1px solid black;
  padding: 25px;
}

#overlay-header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 5px;

  .button {
    @include unstyled-button;
  }

  .icon {
    padding: 0;
  }
}
