@mixin fullscreen-overlay {
  padding: 75px;
  align-items: stretch;
  justify-content: stretch;

  #overlay-inner {
    flex: 1;
  }
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);

  display: flex;
  align-items: center;
  justify-content: center;

  &.upload {
    @include fullscreen-overlay;
  }

  .form {
    flex: 1;

    .formSubmit {
      @include flex-column;

      flex: 1;
      align-items: end;
      justify-content: end;
    }
  }
}

#overlay-inner {
  @include flex-column;
}

#overlay-sidebar-wrapper {
  @include flex-row;

  flex: 1;
}

#overlay-sidebar {
  @include base-styles;

  min-width: 150px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);

  .sidebar-item {
    padding-left: var(--padding);
    padding: 0 var(--padding) 10px var(--padding);
  }
}

#overlay-close {
  padding: var(--padding);

  &:hover {
    background: var(--active);
  }
}

#overlay-header {
  @include base-styles;
  @include flex-row;

  justify-content: space-between;
  padding: var(--padding);

  .button {
    @include unstyled-button;
  }

  .icon {
    padding: 0;
  }
}

#overlay-content {
  @include base-styles;
  @include flex-column;

  padding: var(--padding);
  flex: 1;
  overflow: hidden;
}

#overlay.upload {
  #upload-metadata {
    padding-bottom: var(--padding);
  }

  #upload-complete {
    @include flex-row;

    padding-top: var(--padding);
    align-items: center;
    justify-content: space-between;

    #fileInput {
      display: none;
    }
  }
}
