#sidebar {
  @include base-styles;

  min-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

#catalog-tree {
  padding-top: var(--padding);
  padding-bottom: var(--padding);

  #new-catalog {
    @include unstyled-button;

    width: 100%;
    text-align: left;
    padding: 4px var(--padding) 4px var(--padding);
  }

  #new-catalog:hover {
    background: var(--hover);
  }
}
