#sidebar {
  @include base-styles;

  min-width: 250px;
  overflow-y: auto;
}

#catalog-list {
  padding-top: 15px;
  padding-bottom: 15px;

  ol {
    margin-bottom: 15px;
  }

  p, li {
    margin-bottom: 5px;
    padding: 4px 15px 4px 0;
  }

  li:hover:not(.selected) {
    background: var(--hover);
  }

  p {
    padding-left: 15px;
  }

  li.depth0 {
    padding-left: 15px;
  }

  .selected {
    background: var(--active);
  }

  button {
    @include unstyled-button;
    display: block;
  }
}
