:root {
  --background: #36454f;
  --foreground: #e8e7dd;
  --active: #7e7c78;
  --hover: rgb(180, 176, 166);
  --error: #ad0606;
  --font: 15px sans-serif;
}

#banner,
#overlay-header {
  --background: #1a1920;
  --foreground: #e8e7dd;
  --hover: #7e7c78;
  --padding: 15px;
}

#banner {
  --font: 15px "Comfortaa", cursive;
}

#sidebar,
#overlay-sidebar {
  --background: #6c636a;
  --foreground: #e8e7dd;
  --padding: 15px;
}

#overlay {
  --background: #7e7c78;
  --foreground: #e8e7dd;
  --padding: 15px;
}

.media-list {
  --background: #ffffff;
  --foreground: #000000;
  --padding: 15px;
}

.media {
  --background: #ffffff;
  --foreground: #000000;
  --active: rgb(180, 176, 166);
}
