@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff2?1fa40e8900654d2863d011707b9fb6f2") format("woff2"),
       url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff?1fa40e8900654d2863d011707b9fb6f2") format("woff");
}

html, body {
  height: 100%;
  width: 100%;
}

.mediagroup {
  background-color: rgba(var(--bs-body-bg-rgb), 0.85);
  z-index: 1;
}

nav {
  font-size: 0.9rem;
}

:root {
  --list-depth: -1;
  --list-item-depth: -1;
}

ui-iconlist {
  --list-depth: calc(var(--list-item-depth) + 1);
}

ui-iconlistitem {
  --list-item-depth: var(--list-depth);
}
