@use "theme";

.c-medialayout {
  flex: 1;
  overflow: hidden;
  position: relative;

  .photo {
    height: 100%;
    width: 100%;

    &.loading {
      height: 0;
    }
  }

  img.photo {
    object-fit: contain;
  }

  div.photo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: theme.$spacing * 4;
    font-size: 300%;
  }

  .infobar {
    display: flex;
    align-items: center;
    padding: theme.$spacing * 4;
    color: rgb(var(--overlay-color));
    background: rgba(var(--overlay-background), 0.7);

    .buttons {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: theme.$spacing * 6;
      font-size: 200%;
    }
  }
}

.media-info {
  width: 400px;
  i {
    font-style: italic;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: theme.$spacing * 4;
    align-items: first baseline;
    gap: theme.$spacing * 2;
    max-width: 450px;
  }

  .metadata-label {
    font-weight: bold;
    text-align: right;

    &.multiline {
      grid-column: 1 / 3;
      text-align: left;
    }
  }

  .metadata-value.multiline {
    grid-column: 1 / 3;
  }
}
