@use "theme";

.c-overlay {
  position: absolute;
  inset: 0;

  .overlay-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity theme.$transition;
  }
}
