@use "../theme";

.c-appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: theme.$spacing * 4;

  .site {
    display: flex;
    align-items: center;
    gap: theme.$spacing * 2;
  }

  h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: theme.$spacing * 5;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: theme.$spacing * 4;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: theme.$spacing * 4;
    font-size: 150%;
  }
}
