.c-appbar.sl-theme-dark {
  --color: var(--sl-color-neutral-1000);
  --background: rgb(var(--theme-color-primary));
}

.c-appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--sl-spacing-medium);
  padding-block: var(--sl-spacing-x-small);
  min-height: 4.5rem;

  .site {
    display: flex;
    align-items: center;
    gap: var(--sl-spacing-x-small);

    img {
      height: 2rem;
    }

    h1 {
      font-family: "Comfortaa", sans-serif;
      font-size: 1.5rem;
    }
  }

  sl-icon-button::part(base) {
    color: var(--sl-color-neutral-800);
  }

  sl-icon-button::part(base):hover,
  sl-icon-button::part(base):focus {
    color: var(--sl-color-neutral-1000);
  }

  sl-icon-button::part(base):active {
    color: var(--sl-color-neutral-1000);
  }

  .actions {
    display: flex;
    align-items: center;
    gap: var(--sl-spacing-large);
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: var(--sl-spacing-large);
    font-size: 150%;

    .c-portal {
      display: flex;
      align-items: center;
      gap: var(--sl-spacing-large);
    }
  }
}
