.c-button {
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2);
  border-radius: calc(var(--spacing) * 2);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;

  &.button-primary {
    color: rgb(var(--button-primary-color));
    background-color: rgb(var(--button-primary-background));
    border-color: rgb(var(--button-primary-border));

    &:hover {
      color: rgb(var(--button-primary-hover-color));
      background-color: rgb(var(--button-primary-hover-background));
      border-color: rgb(var(--button-primary-hover-border));
    }
  }

  &.button-secondary {
    color: rgb(var(--button-secondary-color));
    background-color: rgb(var(--button-secondary-background));
    border-color: rgb(var(--button-secondary-border));

    &:hover {
      color: rgb(var(--button-secondary-hover-color));
      background-color: rgb(var(--button-secondary-hover-background));
      border-color: rgb(var(--button-secondary-hover-border));
    }
  }
}
