.c-icon {
  font-size: 125%;
  height: 1em;
  width: 1em;
}

.c-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-icon-button {
  font-size: 125%;
  height: 1em;
  width: 1em;
}
