:root {
  --list-depth: -1;
  --list-item-depth: -1;
}

.c-iconlist {
  --list-depth: calc(var(--list-item-depth) + 1);
  list-style-type: none;

  .item-label {
    padding-inline-start: calc(var(--list-item-depth) * 1rem + 0.25rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline-end: 0.25rem;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  .item-icon {
    margin-right: var(--sl-spacing-x-small);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.item-label {
    text-decoration: none;
    color: inherit;

    &.selected {
      background-color: var(--sl-color-neutral-200);
    }

    &:hover {
      background-color: var(--sl-color-neutral-300) !important;
    }
  }

  .label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .count {
    min-width: 3em;
    text-align: right;
  }

  .c-iconlistitem {
    --list-item-depth: var(--list-depth);
  }
}
