dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: first baseline;
  gap: var(--sl-spacing-x-small);
  max-width: 450px;

  i {
    font-style: italic;
  }

  .metadata-label {
    font-weight: bold;
    text-align: right;

    &.multiline {
      grid-column: 1 / 3;
      text-align: left;
    }
  }

  .metadata-value.multiline {
    grid-column: 1 / 3;
  }

  .relation-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sl-spacing-x-small);
  }
}
