dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: first baseline;
  gap: calc(var(--spacing) * 2);
  max-width: 450px;

  i {
    font-style: italic;
  }

  .metadata-label {
    font-weight: bold;
    text-align: right;

    &.multiline {
      grid-column: 1 / 3;
      text-align: left;
    }
  }

  .metadata-value.multiline {
    grid-column: 1 / 3;
  }

  .relation-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 2);

    li {
      border-radius: 0.5lh;
      padding-inline: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
      display: flex;
      align-items: center;
      background-color: rgb(var(--background));
      font-size: 90%;

      a {
        display: flex;
        align-items: center;
      }

      .c-icon {
        padding-right: var(--spacing);
      }
    }
  }
}
