.c-medialayout {
  position: absolute;
  inset: 0;
  z-index: 10;

  .loading-throbber {
    position: absolute;
    inset: 0;
    background: rgba(var(--background), 0.5);
  }

  .navbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: var(--sl-spacing-medium);
    font-size: 300%;
  }

  .infobar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--sl-spacing-medium);
    gap: var(--sl-spacing-x-large);
    background: color-mix(
      in srgb,
      var(--sl-color-neutral-200) 70%,
      rgba(0, 0, 0, 0)
    );

    .video-info {
      flex: 1;
      display: flex;
      align-items: center;
      gap: var(--sl-spacing-x-large);

      .buttons {
        font-size: 200%;
      }

      .scrubber {
        flex: 1;
        background-color: rgb(var(--background));
        height: var(--sl-spacing-x-small);

        .played {
          background-color: rgb(var(--color));
          height: 100%;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--sl-spacing-x-large);
      font-size: 200%;
    }
  }
}
