.c-mediagroup {
  .title {
    position: sticky;
    top: 0;
    padding: var(--sl-spacing-x-small);
    font-size: 200%;
    background: linear-gradient(
      hsl(0 0% 97.5% / 80%) 0%,
      hsl(0 0% 97.5% / 80%) 60%,
      hsl(0 0% 97.5% / 0%)
    );
    z-index: 1;
  }

  .grid {
    display: grid;
    gap: var(--sl-spacing-x-small);
    padding-inline: var(--sl-spacing-x-small);
    padding-bottom: var(--sl-spacing-medium);
    grid-template-columns: repeat(auto-fill, minmax(calc(150px + 1rem), 1fr));
  }

  .media-wrapper {
    aspect-ratio: 1;
  }

  .media {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: var(--sl-spacing-2x-small);
    position: relative;
    padding: var(--sl-spacing-x-small);
    border: 1px solid var(--sl-color-neutral-200);
    box-shadow: var(--sl-shadow-large);
    color: inherit;

    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: var(--sl-spacing-x-small);
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.3;
      transition: opacity var(--transition);
    }

    &:hover .overlay {
      opacity: 1;
    }

    .thumbnail {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center center;
      transition: opacity var(--transition);

      &.loading {
        opacity: 0;
      }
    }

    div.thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
