.c-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--spacing) / 2);

  .filled {
    color: var(--sl-color-amber-500);
  }

  .unfilled {
    color: var(--sl-color-neutral-300);
  }
}
