.c-searchbar {
  overflow: hidden;
  background: var(--sl-color-neutral-200);
  padding: var(--sl-spacing-x-small);
  gap: var(--sl-spacing-x-small);
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  --field-highlight-background: 167, 180, 250;
  --field-highlight-color: var(--theme-color-primary);
  --field-border: 1px solid rgb(var(--field-highlight-background));

  color: rgb(var(--field-highlight-color));

  &.collapsed {
    align-items: center;
  }

  .c-search-description {
    flex: 1;
  }

  .expanded {
    flex: 1;

    .compound {
      display: flex;
      flex-direction: column;
      gap: var(--sl-spacing-x-small);

      .header {
        display: flex;
        flex-direction: row;
        gap: var(--sl-spacing-2x-small);
        align-items: center;
        justify-content: space-between;

        .toggles {
          display: flex;
          flex-direction: row;
          gap: var(--sl-spacing-2x-small);
          align-items: stretch;
        }

        .toggle {
          border: var(--field-border);
          border-radius: var(--sl-spacing-x-small);
          padding: var(--sl-spacing-x-small);
          color: rgb(var(--field-highlight-color));

          &.selected {
            background-color: rgb(var(--field-highlight-background));
            color: rgb(var(--field-highlight-color));
          }
        }

        input {
          display: none;
        }
      }

      .queries {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: var(--sl-spacing-2x-small);
        margin-left: var(--sl-spacing-x-small);
      }

      .query {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .compound {
        border: var(--field-border);
        border-radius: var(--sl-spacing-x-small);
        padding: var(--sl-spacing-x-small);
        flex: 1;

        .queries {
          margin-right: 2em;
        }
      }
    }
  }

  .c-icon {
    font-size: 150%;
  }
}
