@use "theme";

.c-search-description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: theme.$spacing * 2;

  .compound {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: theme.$spacing * 2;
    border: var(--field-border);
    border-radius: theme.$spacing * 2;

    .modifier {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: theme.$spacing;
    }

    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .field {
    border: var(--field-border);
    border-radius: theme.$spacing * 2;
    padding: theme.$spacing;
  }
}
