.c-search-description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: var(--sl-spacing-x-small);

  .compound {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--sl-spacing-x-small);
    border: var(--field-border);
    border-radius: var(--sl-spacing-x-small);

    .modifier {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: var(--sl-spacing-2x-small);
    }

    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .field {
    border: var(--field-border);
    border-radius: var(--sl-spacing-x-small);
    padding: var(--sl-spacing-2x-small);
  }
}
