.c-search-description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: calc(var(--spacing) * 2);

  .compound {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: calc(var(--spacing) * 2);
    border: var(--field-border);
    border-radius: calc(var(--spacing) * 2);

    .modifier {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: var(--spacing);
    }

    .icon {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .field {
    border: var(--field-border);
    border-radius: calc(var(--spacing) * 2);
    padding: var(--spacing);
  }
}
