@use "../theme";

@media (max-width: theme.$breakpoint) {
  .c-sidebar-layout nav {
    display: none;
  }
}

.c-sidebar-layout {
  flex: 1;
  overflow: hidden;
  position: relative;

  nav {
    border-right: 1px solid rgb(222, 226, 230);
    padding-block: var(--sl-spacing-x-small);
    font-size: 0.9rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }

  & > main {
    flex: 1;
    overflow-y: auto;
  }
}

div.c-sidebar-layout {
  display: flex;
  flex-direction: row;
}
