@use "theme";

@keyframes pulse {
  20% {
    background: rgba(var(--theme-color-primary), 1);
  }
  50% {
    background: rgba(var(--theme-color-primary), 0.4);
  }
}

.c-throbber {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .throbber {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: theme.$spacing * 3;

    div {
      width: theme.$spacing * 4;
      height: theme.$spacing * 10;
      background: rgba(var(--theme-color-primary), 0.2);
    }

    .start {
      animation: pulse 1.3s ease-in infinite;
    }

    .middle {
      animation: pulse 1.3s ease-in infinite;
      animation-delay: 0.2s;
    }

    .end {
      animation: pulse 1.3s ease-in infinite;
      animation-delay: 0.4s;
    }
  }
}
