<!DOCTYPE html>

<html>
<head>
<style type="text/css">
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
</head>
<body>
<form action="{{ target }}" method="POST">
  <p>Please Log In.</p>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <div><label>Username: <input type="text" name="username"></label></div>
  <div><label>Password: <input type="password" name="password"></label></div>
  <input type="submit" value="Log in">
</form>
</body>
</html>
