// Required Bootstrap functions
@import "bootstrap/scss/functions";

// Variable defaults
$primary: #3f51b5;
$secondary: #8d8fa6;
$enable-shadows: true;
$font-family-base: "Roboto", "Helvetica", "Arial", sans-serif;

$body-color-rgb: 0 0 0;
$body-color: rgb($body-color-rgb);
$body-bg-rgb: 250 250 250;
$body-bg: rgb($body-bg-rgb);

$body-secondary-color:      rgba(0, 0, 0, 0.87);
$body-secondary-bg:         rgba(255, 255, 255);

// Required Bootstrap variables
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// Default map overrides

// Required Bootstrap parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

// Optional
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
  height: 100%;
  width: 100%;
}

nav {
  font-size: 0.9rem;
}

.navbar {
  --bs-navbar-brand-color: inherit;
  --bs-navbar-brand-hover-color: inherit;
}

main {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}

:root {
  --list-depth: -1;
  --list-item-depth: -1;
}

.iconlist {
  --list-depth: calc(var(--list-item-depth) + 1);
  list-style-type: "none";

  & .item-label {
    padding-inline-start: calc(var(--list-item-depth) * 1rem + 0.25rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline-end: 0.25rem;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  & .item-icon {
    font-size: 120%;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  & a.item-label:hover,
  & a.item-label.selected {
    background-color: var(--bs-secondary-bg-subtle);
  }

  & .label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .count {
    min-width: 3em;
    text-align: right;
  }

  & .iconlistitem {
    --list-item-depth: var(--list-depth);
  }
}
