// Required Bootstrap functions
@import "bootstrap/scss/functions";

// Variable defaults
$primary: #3f51b5;
$secondary: #8d8fa6;
$enable-shadows: true;
$font-family-base: "Roboto", "Helvetica", "Arial", sans-serif;

$body-color-rgb: 0 0 0;
$body-color: rgb($body-color-rgb);
$body-bg-rgb: 250 250 250;
$body-bg: rgb($body-bg-rgb);

$body-secondary-color:      rgba(0, 0, 0, 0.87);
$body-secondary-bg:         rgba(255, 255, 255);

// Required Bootstrap variables
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// Default map overrides

// Required Bootstrap parts
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

// Optional
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff2?1fa40e8900654d2863d011707b9fb6f2") format("woff2"),
       url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/fonts/bootstrap-icons.woff?1fa40e8900654d2863d011707b9fb6f2") format("woff");
}

html, body {
  height: 100%;
  width: 100%;
}

nav {
  font-size: 0.9rem;
}

.navbar {
  --bs-navbar-brand-color: inherit;
  --bs-navbar-brand-hover-color: inherit;
}

main {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
