body, html, #app, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background: lightblue;
}

#banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-family: 'Comfortaa', cursive;
  font-size: 50px;
  width: 300px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo a {
  color: inherit;
  text-decoration: none;
}

#rightbanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#rightbanner a {
  padding: 20px;
}

#splitmain {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#sidebar {
  width: 300px;
  padding-top: 20px;
  overflow-y: auto;
}

#sidebar ol {
  padding: 0;
  margin: 0;
}

#sidebar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar li.selected {
  background-color: darkblue;
}

#content {
  background: white;
  flex: 1;
  overflow-y: auto;
  padding: 10px
}

.medialist {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#loginForm {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
}

.centerblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fieldGrid {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  align-items: center;
}
