:root {
  --background: #36454F;
  --foreground: #E8E7DD;
  --active: #7E7C78;
  --error: #ad0606;
}

#banner {
  --background: #1A1920;
  --foreground: #E8E7DD;
  --height: 50px;
}

#sidebar {
  --background: #6C636A;
  --foreground: #E8E7DD;
  --width: 200px;
}

#overlay {
  --background: #7E7C78;
  --foreground: #E8E7DD;
}

body, html, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background: var(--background);
  color: var(--foreground);
}

#banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
  color: var(--foreground);
  height: var(--height);
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
}

#logo {
  padding-left: 20px;
  font-size: 20px;
}

#rightbanner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

#rightbanner a {
  padding: 20px;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#sidebar {
  min-width: var(--width);
  padding-top: 20px;
  overflow-y: auto;
  background: var(--background);
  color: var(--foreground);
}

#sidebar ol {
  padding: 0;
  margin: 0;
}

#sidebar li {
  list-style-type: none;
  margin: 0;
  padding-top: 2px;
}

#sidebar li.selected {
  background: var(--active);
}

#content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: var(--background);
  color: var(--foreground);
}

.medialist {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

#mediaSelector i {
  cursor: pointer;
}

#mediaSelector .selected {
  background: var(--highlight);
}

.media {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.centerAlign {
  text-align: center;
}

.rightAlign {
  text-align: right;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
}

.centerblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fieldGrid {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
  align-items: center;
}

.fieldGrid .formTitle {
  padding-bottom: 15px;
  grid-column: span 2;
  justify-self: start;
}

.fieldGrid .fieldLabel {
  text-align: right;
}

.fieldGrid .spanStart {
  grid-column: span 2;
  justify-self: start;
}

.fieldGrid .spanEnd {
  grid-column: span 2;
  justify-self: end;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay > * {
  border: 1px solid black;
  padding: 20px;
  background: var(--background);
  color: var(--foreground);
}

.error {
  color: var(--error);
}

.button {
  color: inherit;
  background: var(--background);
  color: var(--foreground);
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  font: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

.button > span {
  vertical-align: center;
}

.button:hover {
  background: var(--active);
}

.throbber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
