@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
dl,
dt,
dd,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  appearance: none;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  line-height: inherit;
}

:root {
  --theme-color-primary: 63, 81, 181;
  --theme-color-secondary: 141, 143, 166;
  --selected-color: inherit;
  --hover-color: inherit;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --breakpoint: $breakpoint;
}

:root {
  --color: rgb(0, 0, 0);
  --background: rgb(250, 250, 250);
  --overlay-color: 0, 0, 0;
  --overlay-background: 250, 250, 250;
  --button-primary-color: rgb(255, 255, 255);
  --button-primary-background: rgb(var(--theme-color-primary));
  --button-primary-border: rgb(var(--theme-color-primary));
  --button-primary-hover-color: var(--button-primary-color);
  --button-primary-hover-background: rgb(var(--theme-color-primary));
  --button-primary-hover-border: var(--button-primary-hover-background);
  --button-secondary-color: inherit;
  --button-secondary-background: transparent;
  --button-secondary-border: rgb(var(--theme-color-secondary));
  --button-secondary-hover-color: inherit;
  --button-secondary-hover-background: rgb(var(--theme-color-secondary));
  --button-secondary-hover-border: var(--button-secondary-hover-background);
  --input-shadow: rgba(0, 0, 0, 0.075) 0px 1px 2px 0px inset;
  --input-border: 1px solid rgb(222, 226, 230);
  --input-focus-border: 1px solid rgb(159, 168, 218);
  --selected-background: rgb(230, 230, 230);
  --hover-background: rgb(214, 214, 214);
  line-height: 1.5;
}

body,
.modal {
  color: var(--color);
  background-color: var(--background);
}

[data-theme=banner] {
  --color: rgb(255, 255, 255);
  --background: rgb(var(--theme-color-primary));
  --button-primary-color: rgb(0, 0, 0);
  --button-primary-background: rgb(248, 249, 250);
  --button-primary-border: var(--button-primary-background);
  --button-primary-hover-color: var(--button-primary-color);
  --button-primary-hover-background: rgb(211, 212, 213);
  --button-primary-hover-border: var(--button-primary-hover-background);
  --button-secondary-color: rgb(141, 143, 166);
  --button-secondary-background: transparent;
  --button-secondary-border: var(--button-secondary-color);
  --button-secondary-hover-color: var(--button-secondary-color);
  --button-secondary-hover-background: var(--button-secondary-background);
  --button-secondary-hover-border: var(--button-secondary-hover-background);
  color: var(--color);
  background-color: var(--background);
}

[data-theme=light] {
  --color: rgb(0, 0, 0);
  --background: rgb(250, 250, 250);
  --overlay-color: 0, 0, 0;
  --overlay-background: 250, 250, 250;
  --button-primary-color: rgb(255, 255, 255);
  --button-primary-background: rgb(var(--theme-color-primary));
  --button-primary-border: rgb(var(--theme-color-primary));
  --button-primary-hover-color: var(--button-primary-color);
  --button-primary-hover-background: rgb(var(--theme-color-primary));
  --button-primary-hover-border: var(--button-primary-hover-background);
  --button-secondary-color: inherit;
  --button-secondary-background: transparent;
  --button-secondary-border: rgb(var(--theme-color-secondary));
  --button-secondary-hover-color: inherit;
  --button-secondary-hover-background: rgb(var(--theme-color-secondary));
  --button-secondary-hover-border: var(--button-secondary-hover-background);
  --input-shadow: rgba(0, 0, 0, 0.075) 0px 1px 2px 0px inset;
  --input-border: 1px solid rgb(222, 226, 230);
  --input-focus-border: 1px solid rgb(159, 168, 218);
  --selected-background: rgb(230, 230, 230);
  --hover-background: rgb(214, 214, 214);
  color: var(--color);
  background-color: var(--background);
}

[data-theme=dark] {
  --color: rgb(222, 226, 230);
  --background: rgb(33, 37, 41);
  --overlay-color: 255, 255, 255;
  --overlay-background: 66, 66, 66;
  color: var(--color);
  background-color: var(--background);
}

[data-theme=match] {
  color: var(--color);
  background-color: var(--background);
}

.c-avatar {
  cursor: pointer;
}
.c-avatar img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.c-appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.c-appbar .site {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.c-appbar h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.25rem;
}

.c-button {
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.c-button.button-primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background);
  border-color: var(--button-primary-border);
}
.c-button.button-primary:hover {
  color: var(--button-primary-hover-color);
  background-color: var(--button-primary-hover-background);
  border-color: var(--button-primary-hover-border);
}
.c-button.button-secondary {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background);
  border-color: var(--button-secondary-border);
}
.c-button.button-secondary:hover {
  color: var(--button-secondary-hover-color);
  background-color: var(--button-secondary-hover-background);
  border-color: var(--button-secondary-hover-border);
}

.c-modal.t-on .c-dialog {
  opacity: 1;
}

.c-dialog {
  border-radius: 0.5rem;
  box-shadow: var(--shadow-color) 0px 8px 16px 0px;
  width: 500px;
  padding-inline: 1rem;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  opacity: 0;
}
.c-dialog .header {
  font-size: 1.75rem;
  padding-block: 0.25rem;
}
.c-dialog .body {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.c-dialog .body > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.c-dialog .footer {
  padding-block: 0.75rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  gap: 0.75rem;
}

.c-icon {
  height: 1.2em;
  width: 1.2em;
}

.c-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --list-depth: -1;
  --list-item-depth: -1;
}

.c-iconlist {
  --list-depth: calc(var(--list-item-depth) + 1);
  list-style-type: none;
}
.c-iconlist .item-label {
  padding-inline-start: calc(var(--list-item-depth) * 1rem + 0.25rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-inline-end: 0.25rem;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.c-iconlist .item-icon {
  margin-right: 0.5rem;
}
.c-iconlist a.item-label {
  text-decoration: none;
  color: inherit;
}
.c-iconlist a.item-label.selected {
  color: var(--selected-color);
  background-color: var(--selected-background);
}
.c-iconlist a.item-label:hover {
  color: var(--hover-color) !important;
  background-color: var(--hover-background) !important;
}
.c-iconlist .label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-iconlist .count {
  min-width: 3em;
  text-align: right;
}
.c-iconlist .c-iconlistitem {
  --list-item-depth: var(--list-depth);
}

.c-mediagroup .title {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  font-size: 200%;
  background-color: var(--background);
  z-index: 1;
}
.c-mediagroup .grid {
  display: grid;
  gap: 0.5rem;
  padding-inline: 0.5rem;
  padding-bottom: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(calc(150px + 1rem), 1fr));
}
.c-mediagroup .media-wrapper {
  aspect-ratio: 1;
}
.c-mediagroup .media {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0.25rem;
  position: relative;
  padding: 0.5rem;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 0.5rem 1rem var(--shadow-color);
  color: inherit;
}
.c-mediagroup .media .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.c-mediagroup .media:hover .overlay {
  opacity: 1;
}
.c-mediagroup .media .thumbnail {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center center;
}
.c-mediagroup .media div.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-medialayout {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.c-medialayout .photo,
.c-medialayout .video {
  height: 100%;
  width: 100%;
}
.c-medialayout .photo.loading,
.c-medialayout .video.loading {
  height: 0;
}
.c-medialayout img.photo {
  object-fit: contain;
}
.c-medialayout div.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 800%;
}
.c-medialayout .navbar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 300%;
}
.c-medialayout .infobar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1.5rem;
  color: rgb(var(--overlay-color));
  background: rgba(var(--overlay-background), 0.7);
}
.c-medialayout .infobar .video-info {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.c-medialayout .infobar .video-info .buttons {
  font-size: 200%;
}
.c-medialayout .infobar .video-info .scrubber {
  flex: 1;
  background-color: var(--background);
  height: 0.5rem;
}
.c-medialayout .infobar .video-info .scrubber .played {
  background-color: var(--color);
  height: 100%;
}
.c-medialayout .infobar .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 200%;
}

.media-info {
  width: 400px;
}
.media-info i {
  font-style: italic;
}
.media-info dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 1rem;
  align-items: first baseline;
  gap: 0.5rem;
  max-width: 450px;
}
.media-info .metadata-label {
  font-weight: bold;
  text-align: right;
}
.media-info .metadata-label.multiline {
  grid-column: 1/3;
  text-align: left;
}
.media-info .metadata-value.multiline {
  grid-column: 1/3;
}
.media-info .relation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.media-info .relation-list li {
  border-radius: 0.5lh;
  padding-inline: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  background-color: var(--background);
  font-size: 90%;
}
.media-info .relation-list li a {
  display: flex;
  align-items: center;
}
.media-info .relation-list li .c-icon {
  padding-right: 0.25rem;
}

.c-modal {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0);
}
.c-modal.t-on {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1000px) {
  .c-navmenu {
    display: none;
  }
}
.c-navigator {
  width: 100vw;
}
.c-navigator .viewport {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  padding: 0.5rem;
}
.c-navigator .buttons {
  font-size: 150%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.c-overlay {
  position: absolute;
  inset: 0;
}
.c-overlay .overlay-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  opacity: 0;
}
.c-overlay .overlay-inner.t-on {
  opacity: 1;
}

.c-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
.c-rating .filled {
  color: rgb(255, 180, 0);
}

@media (max-width: 1000px) {
  .c-sidebar-layout nav {
    display: none;
  }
}
.c-sidebar-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.c-sidebar-layout nav {
  border-right: 1px solid rgb(222, 226, 230);
  padding-block: 0.5rem;
  font-size: 0.9rem;
  overflow-y: auto;
}
.c-sidebar-layout > main {
  flex: 1;
  overflow-y: auto;
}

div.c-sidebar-layout {
  flex-direction: row;
  overflow: hidden;
}

.c-modal.t-on .c-slidepanel.slidepanel-right .slidepanel-inner {
  right: 0;
}
.c-modal.t-on .c-slidepanel.slidepanel-left .slidepanel-inner {
  left: 0;
}

.c-slidepanel {
  position: absolute;
  top: 0;
  bottom: 0;
}
.c-slidepanel.slidepanel-right {
  right: 0;
}
.c-slidepanel.slidepanel-right .slidepanel-inner {
  transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  right: -100%;
}
.c-slidepanel.slidepanel-left {
  left: 0;
}
.c-slidepanel.slidepanel-left .slidepanel-inner {
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  left: -100%;
}
.c-slidepanel .slidepanel-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  color: rgb(var(--overlay-color));
  background: rgb(var(--overlay-background));
  z-index: 10;
}

.c-textfield {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.c-textfield div {
  margin-bottom: 0.75rem;
}
.c-textfield input {
  appearance: none;
  border: var(--input-border);
  border-radius: 0.5rem;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  background-color: transparent;
  box-shadow: var(--input-shadow);
}
.c-textfield input:focus {
  border: var(--input-focus-border);
  outline: 0;
  box-shadow: var(--input-shadow), 0 0 0 0.25rem rgba(63, 81, 181, 0.25);
}

@keyframes pulse1 {
  20% {
    background: rgba(var(--theme-color-primary), 0.8);
  }
  30% {
    background: rgba(var(--theme-color-primary), 0.3);
  }
}
@keyframes pulse2 {
  20% {
    background: rgba(var(--theme-color-primary), 0.8);
  }
  30% {
    background: rgba(var(--theme-color-primary), 0.3);
  }
}
@keyframes pulse3 {
  20% {
    background: rgba(var(--theme-color-primary), 0.8);
  }
  50% {
    background: rgba(var(--theme-color-primary), 0.3);
  }
}
.c-throbber {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-throbber .throbber {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.c-throbber .throbber div {
  width: 1rem;
  height: 2.5rem;
  background: rgba(var(--theme-color-primary), 0.2);
}
.c-throbber .throbber .start {
  animation: pulse1 1.3s ease-in infinite;
}
.c-throbber .throbber .middle {
  animation: pulse2 1.3s ease-in infinite;
  animation-delay: 0.2s;
}
.c-throbber .throbber .end {
  animation: pulse3 1.3s ease-in infinite;
  animation-delay: 0.4s;
}

html {
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

img.loading {
  opacity: 0;
}

img.loading,
img.loaded {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.transition.t-none {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
