@use "theme";

.c-button {
  padding-inline: theme.$spacing * 3;
  padding-block: theme.$spacing * 2;
  border-radius: theme.$spacing * 2;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;

  &.button-primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
    border-color: var(--button-primary-border);

    &:hover {
      color: var(--button-primary-hover-color);
      background-color: var(--button-primary-hover-background);
      border-color: var(--button-primary-hover-border);
    }
  }

  &.button-secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-background);
    border-color: var(--button-secondary-border);

    &:hover {
      color: var(--button-secondary-hover-color);
      background-color: var(--button-secondary-hover-background);
      border-color: var(--button-secondary-hover-border);
    }
  }
}
